body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding-top: 60px;	/*Igual al tamaño de la cabecera*/
	overflow: hidden;
}

.sidebar{
	font-family: 'Raleway', sans-serif;
	position: absolute;
	width: 250px;
	height: calc(100% - 80px);
	overflow-y: auto;
	overflow-x: hidden;
	/*background: #333;*/
	background:  #3f6fff;
	background-size: 200%;
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #fff;
	outline: 1px solid #2a2a2a;
}

.sidebar h2{
	text-align: center;
	margin: 0;
	padding: 10px;
	background: none repeat scroll 0 0 rgba(255,255,255,0.2);
  background-clip: padding-box;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	outline: 1px solid #2a2a2a;
	/*background: #2a2a2a;*/
	/*background-size: 200%;*/
	/*animation: aurora 10s infinite;*/
}

.sidebar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar li{
	outline: 1px solid #2a2a2a;
	transition: border 0.3s;
}

.sidebar li:hover{
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0px;
  box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	border-left: 5px solid #fff;
	
}

.sidebar button{
	display: block;
	color: #fff;
	font-family: 'raleway', sans-serif;
	text-decoration: none;
	padding: 15px;
	border: none;
/*	background-color: rgb(85, 85, 85);*/
  /*background: linear-gradient(45deg, #32a6ff 0%, #3f6fff 49%, #8d54ff 82%);
	background-size: 200%;
	animation: aurora 10s infinite;*/
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	width: 250px;
	text-align: left;
	font-size: 16px;
	cursor: pointer;
}

.contenido{
	position: absolute;
	background: rgb(44, 44, 44);
	box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s;
	padding:0px;
	/*Al contenido sí se le puede hacer scroll vertical -> Quitar si la paginación no lo requiere*/
	overflow-y: scroll;
	top: 80px;
	bottom: 0px;
	width: 100%;
	color: white;

}
.abrir{
	position: absolute;
	transition: all 0.3s;
	box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:0px;
	overflow-y: scroll;
	top: 80px;
	bottom: 0px;
	width: calc(100% - 250px);
	background: rgb(44, 44, 44);
	margin-left: 250px;
	color: white;
}
.menu-bar{
	width: 80px;
	cursor: pointer;
	float: left;
}



/*Código para ocultar el sidebar si el ancho de la pantalla <600px*/
@media (max-width: 416px) {
	#nav-cerrar{
		display: block;
		text-decoration: none;
		margin-top: -63px;
		line-height: 40px;
	}

	#logo-header{
		visibility: hidden;
	}
	

	.contenido{
	position: absolute;
	box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s;
	padding:0px;
	/*Al contenido sí se le puede hacer scroll vertical -> Quitar si la paginación no lo requiere*/
	overflow-y: scroll;
	bottom: 0px;
	width: 100%;
	}
	
	.abrir{
		position: absolute;
		box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition: all 0.3s;
		padding:0px;
		overflow-y: scroll;
		bottom: 0px;
		width: 100%;
		
		/*margin-left: */
	}
}

/*Cabecera fija*/
/*Nota: Uso de "#" en lugar de "." porque el elemento se identifica con un ID en lugar de una clase -> ID para un elemento, clase para varios*/
#logo-header {
	float: left;
	padding: 20px 0 0 20px;
	text-decoration: none;
}

#logo-header:hover {
	color: rgb(0, 0, 0);
}
	
#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.4em;
	text-align: center;
}
	
#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.9em;
	color: #fff;
}

#main-header {
	background: linear-gradient(10deg, #32a6ff 0%, #8d54ff 49%, #3f6fff 72%);
	background-size: 200%;
	height: 80px;
	width: 100%; /* Largo de la cabecera */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Cabecera fija */
}

.aurora{
	background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
    background-size: 200%;
    animation: aurora 7s infinite;
}

@keyframes aurora {
	0% {
			background-position: left top;
	}
	25% {
			background-position: right top;
	}
	50% {
			background-position: right bottom;
	}
	75% {
			background-position: left bottom;
	}
	100% {
			background-position: left top;
	}
}


#main-header a {
	color: white;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

#main-header nav {
	float: right;
	text-decoration: none;
}

#main-header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
#main-header ul li {
	display: inline-block;
	line-height: 80px;
}
			
#main-header nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
			
#main-header nav ul li a:hover {
	background: rgba(255, 255, 255, 0.3);
}

table {
	font-family: 'raleway', sans-serif;
	border-collapse: collapse;
	width: 100%;
	background: #3f6fff;
	background-size: 200%;
  }
  
  td, th {
	text-align: left;
	padding: 8px;
	color: #fff;
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);
  background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
  }
  td textarea { /* para limitar el numero de caracteres*/
	width: 380px;
	height: 100px;
	overflow-y: auto;
	border: 2px solid #ffffff;
	border-radius: 10px;
	background: rgba(0, 152, 253, 0.233);
	
	color: white;

	}
	td	textarea:focus {
		background: rgba(89, 0, 253, 0.562);
		outline-width: 0;
}

	
  tr:hover {
		background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
	}
	tbody td:hover:before {
		background-color: rgba(255, 255, 255, 0.2);

	}

  #enlaces span,#enlaces a{
	width: 2em;
	height: 2em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: white;
	text-decoration: none;
	margin: 5px;
}
#enlaces span:hover,#enlaces a:hover {
	transform: scale(1.2);
}
.current{
	color: #333 !important;
	background-color: white !important;
	border:solid 2px #333;
	transform: scale(1.2);
}
#enlaces{
	display: flex;
	justify-content: center;
	flex-wrap: wrap; 
	padding-left: 100px;
	
}



.PAG_TAM {
	width: 45px;
	padding: 12px 2px;
	text-align: center;
	min-width:45px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
  }
  
.PAG_TAM:focus {
	border: 3px solid #555;
  }

  /* ocultar los botones de dar arriba y abajo en el input=number*/
input[type=number]::-webkit-inner-spin-button,  /* para chrome*/
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
input[type=number] { /* para firefox*/
	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0; 
  }

.formpaginacion {
	padding:10px;
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 18px;
	background-color:rgb(75, 75, 75);
	color: white;
}
.formpaginacion [type=submit] {
	background-color: rgb(255, 255, 255); 
	border: none;
	color: rgb(0, 0, 0);
	padding:12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
.formpaginacion [type=submit]:hover {
	background-color: #32a6ff;
  color: white;
}


.btn {
		background-color: rgba(0, 255, 13, 0.377);
		font-family: 'raleway', sans-serif;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    width:20%;
    text-align:left;
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
}
.button1 {
  background-color: #4CAF50; /* Green */
	border-radius: 15px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.mybtn {
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);
	background-color: #8400ff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0px;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset; 
	border-radius: 6px;
	color: white;
	padding: 16px 32px;
	font-family: 'raleway', sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
.mybtn:hover {
	background-color: #32a6ff;
  color: white;
	}
	


	@media only screen and (max-width: 800px) {
		.bienvenida{
			visibility: hidden;
		}
		.PAG_TAM {
			width: 45px;
			padding: 12px 2px;
			margin: 8px 0;
			text-align: center;
			box-sizing: border-box;
			border: 3px solid #ccc;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			outline: none;
			}
			.txtareaprod1{
				width: 90%;
			}
	
		
		/* Force table to not be like tables anymore */
		  table, 
		  thead, 
		  tbody, 
		  th, 
		  td, 
		  tr { 
			display: block; 
		}
	 
		/* Hide table headers (but not display: none;, for accessibility) */
		  thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	 
		  tr {
				 border: 1px solid #ccc; 
			}
	 
		  td { 
			/* Behave  like a "row" */
			border: none;
			min-height: 20px;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 55%; 
			white-space: normal;
			text-align:left;
		}
	 
		  td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 10px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			text-align:left;
			font-weight: bold;
		}
	 
		/*
		Label the data
		*/
		  td:before { content: attr(data-title); }
			
			td p { /* para limitar el numero de caracteres*/
				text-overflow: ellipsis;
				width: 140px;
				overflow:hidden;
				}
				table input[type=text] {
					width: 120px;
				}
	}

	
	









	/* Force table to not be like tables anymore */
	.modal-material table, 
	.modal-material thead, 
	.modal-material tbody, 
	.modal-material	th, 
	.modal-material td, 
	.modal-material tr { 
	display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
.modal-material thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.modal-material input {
	border: #32a6ff;
	border-radius: 5px;
}

.modal-material tr { border: 1px solid #ccc;
padding-bottom: 30px; }

.modal-material td { 
	/* Behave  like a "row" */
	border: none;
	min-height: 20px;
	border-bottom: 1px solid #eee; 
	position: relative;
	padding-left: 55%; 
	white-space: normal;
	text-align:left;
}

.modal-material	td:before { 
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 10px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
	text-align:left;
	font-weight: bold;
}
.modal-material .enblanco {
background-color: #555;
}
	
.modal-material tr:hover {
	background-color: none;

}
.modal-material tbody td:hover:before {
	background-color: transparent;

}

/*
Label the data
*/
.modal-material td:before { content: attr(data-title); }
	
.modal-material	td p { /* para limitar el numero de caracteres*/
		text-overflow: ellipsis;
		width: 140px;
		overflow:hidden;
		}
		table input[type=text] {
			width: 140px;
		}
.bienvenida{
	text-align: center;
	font-size: 1.3em;
	float: right;
	padding-right:4%; 
	line-height: 80px;
	color:white;
	text-decoration: none;
	font-weight: bolder;
	box-sizing: border-box;
	}

.fecha{
		text-align: center;
		font-size: 1.3em;
		float: right;
		padding-right:47%; 
		line-height: 80px;
		color:white;
		text-decoration: none;
		font-weight: bolder;
		box-sizing: border-box;
		}
.eventoscurso{
			text-align: center;
			font-size: 1.3em;
			float: right;
			padding-right:70%; 
			line-height: 80px;
			color:white;
			text-decoration: none;
			font-weight: bolder;
			box-sizing: border-box;
			}