/*
Primary Styling
*/
/*
Style Main Timeline Figure
*/
body > figure /* Timeline figure */
{
	
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 0.5em 0.5em;
}

body > figure > figure /* Figures in the timeline */
{
	position: absolute;
	opacity: 1;
}

body > figure > figure:first-of-type /* First figure in the timeline */
{
	z-index: 1;
}

body > figure > figure:last-of-type /* Second figure in the timeline */
{
	z-index: 0;
}

body > figure > figure > img /* Images in the timeline */
{
	position: absolute;
	left: 0;
	top: 0;
}

body > figure:first-of-type > nav:first-of-type > ul:first-of-type > li:last-of-type > ul:first-of-type > li > figure:first-of-type[data-active=true]:hover /* Active menu figure */
{
	cursor: not-allowed;
}

body > figure:first-of-type > nav:first-of-type > ul:first-of-type > li:last-of-type > ul:first-of-type > li > figure:first-of-type[data-active=false]:hover, /* Inactive menu figure */
#menuToggleIconsSvg > #iconSelectionArea /* Menu toggle icon selection area */
{
	cursor: pointer;
}

/*
Transitions And Transforms
*/
body > figure > figure /* Figures in the timeline */
{
	-webkit-transition: opacity 2s linear;
	-moz-transition: opacity 2s linear;
	-o-transition: opacity 2s linear;
	transition: opacity 2s linear;
}

body > figure > figure > img /* Images in the timeline */
{
	-webkit-transition: left 8s linear, top 8s linear;
	-moz-transition: left 8s linear, top 8s linear;
	-0-transition: left 8s linear, top 8s linear;
	transition: left 8s linear, top 8s linear;
}