html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(49, 49, 49);
}




.currentSong {
  position: relative;
  bottom: 10%;
  right: 8%;
  float: right;
  color: black;
  font-size: 30px;
  font-family: 'Fredoka One';
  
}
.slides{
  position: sticky;
  width: 100%;
  height: 90%;
  
  
}

.jumbo {
  padding-top: 150px;
  height: 200vh;
}

.navbar a {
  color: #131313;
}
.navbar li.active {
  background: #ff9900;
}
.navbar li.active a {
  color: #fafafa;
}
.navbar .navbar-toggle .icon-bar {
  background: #131313;
}

.shrink .navbar {
  color: #fafafa;
  background: #00c6ff;
  background: linear-gradient(35deg, #00c6ff 10%, #0072ff 90%);
}
.shrink .navbar-toggle .icon-bar {
  background: #fafafa;
}
.titulo{
  font-family: 'Pacifico';
  font-size: 2.5em;
}





.loader h1 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.26);
  background-image: url('https://image.ibb.co/mhFBHG/water_image.png');
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 50s linear infinite;
  font-weight: 800;
}

@keyframes animate {
	0%{
		background-position: left 0 top -120px;
	}
	20%{
		background-position: left 800px top -120px;
	}
	40%{
		background-position: left 1800px top -120px;
	}
	60%{
		background-position: left 2800px top -120px;
	}
	80%{
		background-position: left 3800px top -120px;
	}
	100%{
		background-position: left 6800px top -120px;
	}
}

.titulofav{
  color: #000000;
  background-color: rgba(175, 175, 175, 0.513);
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 100px;
  border-radius: 20px;
  width: 13%;
}

.likebutton{
  background-color: transparent;
  border: hidden;
}
.likediv{
  margin-left: 8%;
}

.cuadrofav{
  border: 100px;
  background-color: #9e9e9e;
  border-radius: 20px;
  color: #000000;

}

.btnlogout{
  background-color: #00c8ff00;
  transition: background-color .3s;
}
.btnlogout:hover{
  background-color: white;
  transition: background-color .3s;
}



.formpaginacion {
	padding:10px;
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 18px;
	background-color:rgb(75, 75, 75);
	color: white;
}
.formpaginacion [type=submit] {
	background-color: rgb(255, 255, 255); 
	border: none;
	color: rgb(0, 0, 0);
	padding:12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
.formpaginacion [type=submit]:hover {
	background-color: #32a6ff;
  color: white;
}

#enlaces span,#enlaces a{
	width: 2em;
	height: 2em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: white;
	text-decoration: none;
	margin: 5px;
}
#enlaces span:hover,#enlaces a:hover {
	transform: scale(1.2);
}
.current{
	color: #333 !important;
	background-color: white !important;
	border:solid 2px #333;
	transform: scale(1.2);
}
#enlaces{
	display: flex;
	justify-content: center;
	flex-wrap: wrap; 
	padding-left: 100px;
	
}